/* Animations */

@keyframes floatUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes littleJump {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-24px);
    }

    30% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

@keyframes fadeOut {
    0% {
        filter: opacity(1);
    }

    100% {
        filter: opacity(0);
    }
}

@keyframes contrastDown {
    0% {
        filter: contrast(1);
    }

    100% {
        filter: contrast(0.3);
    }
}

@keyframes bearShy {
    0% {
        transform: translateY(0);
    }

    90% {
        transform: translateY(-190px);
    }

    100% {
        transform: translateY(-230px);
    }
}

@keyframes bearLittleJump {
    0% {
        transform: translateY(-230px);
    }

    15% {
        transform: translateY(-254px);
    }

    30% {
        transform: translateY(-230px);
    }
}

@keyframes pulseButton {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgb(202 83 196);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}