/* Animations */

@keyframes floatUp {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      filter: opacity(0);
    }
    100% {
      filter: opacity(1);
    }
  }
  
  @keyframes fadeOut {
    0% {
      filter: opacity(1);
    }
    100% {
      filter: opacity(0);
    }
  }
  
  @keyframes bearEating {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }